header{
    height: 600px;
    background-image: url('..\\..\\forras\\img\\banner_fruits.png');
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center bottom !important;
}

#gyumolcsContainer{
    height: 300px;
    width: 300px;
    background-color: rgba(2, 138, 158, 0.75);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: bold;
    font-variant: small-caps;
    border-radius: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75);
    border: 10px double white;
    position: absolute;
    top: 50px;
    left: 50px;
}

h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(9 81 92);
    letter-spacing: 1.5px;
}

#kiwi{
    float: right;
    width: 250px;
    height: auto;
}


nav{
    background-color: rgba(2, 138, 158) !important;
}

.nav-link, .navbar-brand{
    color:white;
}

.nav-item {
    border-top: 3px double transparent;
    border-bottom: 3px double transparent;
}

.nav-item:hover{
    border-top: 3px double white;
    border-bottom: 3px double white;
}

.navbar-toggler {
    color: white;
}

details{
    margin-top: 10px;
    border: 1px dashed rgb(2 138 158);
}

details summary {
    background-color: rgb(2 138 158);
    color: white;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
}

details p {
    background-color: rgba(2, 138, 158, 0.75); 
    padding: 10px;
}

#tapertekTable{
    margin: 0 auto;
    width: 75%;
}

@media only screen and (max-width: 769px) {
    #kiwi{
        display: none;
        }
    }

@media only screen and (min-width: 770px) {
    #kalkulator{
        margin: 0 auto;
        width: 750px;
    }
}

.color-boxes {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.color-box {
    display: flex;
    flex: 1;
    margin: 0 10px;
    border-radius: 10px;
    border: 3px solid white;
    padding: 5px;
    color: white;
    justify-content: center;
    align-items: center;
}